.container{
    max-width: 100vw !important;
font-family: 'Poppins Regular';
    background-color: #000520;
}

.header{
    position: sticky;
    top: 0px ;
    z-index: 20;
    background-image: url('../../Images/bgimg2.png');
    background-size: cover;
    background-color: #000520;
    font-family: 'Poppins Regular';
    color: white;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.group {
    display: flex;
    align-items: center;
    position: relative;
    width: 250px;
   }
   
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding-left: 2rem;
    border: 2px solid #419CFD;
    border-radius: 50px;
    font-size: 14px;
    outline: none;
    background-color: #000520;
    color: #ECF4FF;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #ECF4FF;
    opacity: 43%;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: #419CFD;
    background-color: #000520;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: white;
    width: 1rem;
    height: 1rem;
   }
   .icon1 {
    position: absolute;
    right:2px;
    color: white;
    padding: 6px;
    background-color: #419CFD;
    border-radius: 25px;

   }
   .line:before {
    content: '';
    width: 100%;
    height: 2rem;
    display: inline-block;
    background: #5FEF5C;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
  }
  .slick-slide{
    display: flex !important;
    justify-content: center !important;
  }
   .mainpage{
    background-image: url('../../Images/bgimg2.png');
    background-size: cover;
    color: white;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

   }
.trainingmode{
    padding-top: 150px;
    
    width: 80%;
    border-radius: 15px;
    margin: auto;
}
.modebox{
    background: linear-gradient(#000520 40%,#040F4E);
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #040F4E;
}
.whyus{
    padding-top: 150px;
    width: 80%;
    border-radius: 15px;
    margin: auto;
}
.offer{
    padding-top: 150px;
    width: 80%;
    margin: auto;
}
.client{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.peoplesays{
    padding-top: 150px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.programtab{
    cursor: pointer;
}
.programtab:hover{
    color: #419CFD;
}
.programtab:hover .coursehover{
display:block ;
}
.coursehover{
    display: none;
    position: absolute;
    top: 50px;
    z-index: 20;
    border-radius: 20px;
    text-align: start;
    right: 50px;
    background-color: white;
    padding: 20px;
}

.courseheading a:hover{
    background-color: #419CFD;
}
 
   @media only screen and (max-width: 600px) {
   .mainpagediv{
    display: block !important;
   }
   .mainpage{
    justify-content: start !important;

   }
   .expheading{
    width: 100% !important;
   }
  }
   
  @media only screen and (max-width: 1000px) {
    .mainpagediv{
     flex-direction: column;
     align-items: center !important;
    }

   
   }
   